.table-wrapper {
    padding: 30px;
    background: #f9fafc;
    min-height: 100vh;
}

/* TOP BAR */
.top-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
}

/* TABLE CUSTOMIZATIONS */
.ant-table {
    background: #fff !important;
    border-radius: 12px !important;
    overflow: hidden !important;
}

.ant-table-thead>tr>th {
    background: #fafafa !important;
    font-weight: 600;
    padding: 14px 20px !important;
    font-size: 15px;
}

.ant-table-tbody>tr>td {
    padding: 14px 20px !important;
    /* KATTA PADDING */
    font-size: 15px;
}

.ant-table-cell {
    border-bottom: 1px solid #f0f0f0 !important;
}

.actions {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.action-btn {
    border: none !important;
    width: 34px;
    height: 34px;
    border-radius: 8px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-btn.green {
    background: #d4f8d3;
}

.action-btn.blue {
    background: #d3e5ff;
}

.action-btn.red {
    background: #ffd4d4;
}

.action-btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.ant-pagination {
    margin-top: 20px !important;
}
.action-btn i {
    font-size: 18px;
    color: #333;
}